<tr>
  <td><%= product.is_leaf ? check_box_tag(product.id) : raw('<span class="glyphicon glyphicon-folder-close"></span>') %> </td>
  <td>
	<% link_string = product.is_leaf ? product : products_path + "?grp_id=#{product.id}" %>
  	<%= link_to product.name, link_string %>
  </td>
  <td class="text-right" ><%= formatted_price product.purchase_price, product.is_leaf %></td>
  <td class="text-right" ><%= formatted_price product.cash_price, product.is_leaf %></td>
  <td class="text-right" ><%= formatted_price product.noncash_price, product.is_leaf %></td>
  <td class="text-right" >
  	<%= link_to edit_product_path(product) do %>
    	<span class="glyphicon glyphicon-pencil"></span>
	<% end %>
	<%= link_to product, method: :delete, data: { confirm: "You sure?" } do %>
    	<span class="glyphicon glyphicon-trash"></span>
	<% end %>
  </td>
</tr>
    